body {
  font-family: "Inter", "Segoe UI", Roboto, sans-serif;
  background-color: #fff;
  color: #222;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  line-height: 1.6;
}

.title {
  margin-bottom: 20px;
  font-size: 32px;
  color: #333;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 500px;
  justify-content: start;
}

label {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  color: #333;
  text-align: left;
}

input,
textarea {
  margin-top: 0.5rem;
  padding: 0.8rem 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #0066ff;
}

button {
  background-color: #0066ff;
  color: #fff;
  padding: 0.9rem;
  border: none;
  border-radius: 50px;
  font-weight: 600;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 102, 255, 0.25);
  width: 150px;
}

button:hover {
  background-color: #0052cc;
}
